{% extends 'log/base-logout.html.twig' %}

{% block body %}
    <h1>Erreur 403 <br>Accès refusé</h1>
    <p>Vous n’avez pas les droits nécessaires pour accéder à cette page.</p>
    <p><a href="{{ path('app_projet') }}">Retournez à la page d'accueil</a>.</p>
   
{% endblock %}